.slider-main {
  margin-bottom: 30px;
  & .swiper-slide {
    & img {
      border-radius: .25rem;
    }
    & a {
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        pointer-events: auto;
        content: "";
        background-color: transparent;
      }
    }
  }
  & .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #613080;
    @media (max-width: 768px) {
      width: 10px;
      height: 10px;
    }
  }
  & .swiper-pagination-bullet-active {
    opacity: 1;
    background: #613080;
  }
}